*{margin: 0; padding: 0;}
html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}
.main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: none;
}
.map{
    height: 600px;
    width: 600px;
    position: absolute;
    left: 35%;
    top: 19%;
}
.pa{
    position: absolute;
    transition: 1s;
    left: 39%;
    top: 66%;
    height: 50px;
    width: 50px;
}
.lesone{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 45%;
    left: 39%;
}
.lestwo{
    height: 100px;
    width: 200px;
    position: absolute;
    top: 60%;
    left: 50%;
}
.mgz{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 72%;
    left: 36%;
}
.mid{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 51%;
    left: 47%;
}
.b{
    background-color: black;
}
.loc1{
    width: 100%;
    height: 100%;
    display: none;
    background-image: url(loc1/troika.png);
}
.box{
        width: 100px;
        height: 100px;
        background-size: 100% 100%;
        position: absolute;
}
.time{
    color: white;
    text-align: right;
    position: absolute;
    display: none;
    left: 92%;
    top: 0%;
    border: 1px solid white;
    padding: 10px 20px;
}
.scor{
    color: white;
    text-align: center;
    display: none;
    position: absolute;
    left: 47%;
    top: 0%;
    border: 1px solid white;
    padding: 10px 20px;
}
.loc2{
    width: 100%;
    height: 100%;
    display: none;
    background-image: url(loc3/shop.png);
}
.pt{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 15%;
    top: 20%;
}
.desol{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 45%;
    top: 20%;
}
.bkb{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 75%;
    top: 20%;
}
.bash{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 15%;
    top: 60%;
}
.shard{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 45%;
    top: 60%;
}
.satanic{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 75%;
    top: 60%;
}
.ptext{
    color: yellow;
    border: 1px solid yellow;
    position: absolute;
    padding: 10px 20px;
    left: 16%;
    top: 32%;
}
.dtext{
    color: yellow;
    border: 1px solid yellow;
    position: absolute;
    padding: 10px 20px;
    left: 46%;
    top: 32%;
}
.btext{
    color: yellow;
    border: 1px solid yellow;
    position: absolute;
    padding: 10px 20px;
    left: 76%;
    top: 32%;
}
.batext{
    color: yellow;
    border: 1px solid yellow;
    position: absolute;
    padding: 10px 20px;
    left: 16%;
    top: 72%;
}
.stext{
    color: yellow;
    border: 1px solid yellow;
    position: absolute;
    padding: 10px 20px;
    left: 46%;
    top: 72%;
}
.satext{
    color: yellow;
    border: 1px solid yellow;
    position: absolute;
    padding: 10px 20px;
    left: 76%;
    top: 72%;
}
.back{
    width: 150px;
    height: 50px;
    position: absolute;
    left: 92%;
    top: 94%;
    color: black;
    background: yellow;
}
.scortwo{
    color: yellow;
    display: none;
    position: absolute;
    left: 45%;
    top: 0%;
    border: 1px solid yellow;
    padding: 10px 20px;
}
.loc3{
    width: 100%;
    height: 100%;
    display: none;
    background-image: url(loc4/boss.png);
}
.bossplay{
    width: 150px;
    height: 50px;
    position: absolute;
    left: 45%;
    top: 67%;
    color: white;
    background: black;
    border: 1px solid white;
}
.bossback{
    width: 150px;
    height: 50px;
    position: absolute;
    left: 92%;
    top: 94%;
    color: black;
    background: white;
    border: 1px solid black;
}
.question{
    width: 500px;
    height: 200px;
    background-color: black;
    position: absolute;
    left: 36%;
    top: 75%;
    display: none;
}
.qtext{
    font-size: 20px;
    color: white;
    font-family: Arial;
    text-align: center;
}
.qbtnone{
    width: 130px;
    height: 50px;
    position: absolute;
    left: 10%;
    top: 44%;
    color: black;
    background: white;
    border: 1px solid white; 
}
.qbtntwo{
    width: 130px;
    height: 50px;
    position: absolute;
    left: 64%;
    top: 44%;
    color: black;
    background: white;
    border: 1px solid white; 
}
.intro{
    height: 100%;
    width: 100%;
    background-color: black;
}
.info{
    font-size: 20px;
    color: white;
    font-family: Arial;
    text-align: center;
    margin-top: 200px;
}
.introbtn{
    width: 150px;
    height: 40px;
    color: black;
    background: white;
    border: 1px solid white;
    position: absolute;
    top: 65%;
    left: 46%;
}
